body {
  color: #333;
  font-family: "Lato", "sans-serif";
}

/* Defining Grid Elements */

.gameContainer, .piecesContainer, .hintsContainer,
.additionalDetails, .gameboard, .menu {
  display: grid;
}


/* Game Container Element */

.gameContainer {
  grid-template-columns: [menu-start] 2fr 5fr 2fr [menu-end];
  grid-template-rows: auto [menu-start] auto auto [menu-end];
  grid-template-areas:
    "...............   menuButton       ..............."
    "playerOnePieces   gameboard        playerTwoPieces"
    "playerOnePieces   hintsContainer   playerTwoPieces"
  ;
  justify-items: center;
  align-items: start;
}

/* Pieces Container Element */

.piecesContainer {
  margin: 1vw 0;
  border-radius: 2px;
  padding: .5vw;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
}

.piecesContainer.playerOne {
  grid-area: playerOnePieces;
  grid-template-areas:
    "p1_7   p1_1"
    "p1_8   p1_2"
    "p1_9   p1_3"
    "p1_10  p1_4"
    "p1_11  p1_5"
    "p1_12  p1_6"
  ;
}

.piecesContainer.playerTwo {
  grid-area: playerTwoPieces;
  grid-template-areas:
    "p2_1  p2_7 "
    "p2_2  p2_8 "
    "p2_3  p2_9 "
    "p2_4  p2_10"
    "p2_5  p2_11"
    "p2_6  p2_12"
  ;
}

.piecesContainer.playerOne.active { background: #afc1f1; }
.piecesContainer.playerTwo.active { background: #eeb1b1; }

.piecesContainer.active {
  box-shadow: 0 0 1px 1px #575757;
}

.piece {
  box-shadow: 0 0 4px 0px #333;
  transition: box-shadow .2s;
}

.piecesContainer .piece {
  margin: .25vw;
  z-index: 3;
}

.piecesContainer.active .piece:hover,
.gameboard .piece.playerTurn:hover {
  box-shadow: 0 0 6px 2px #333;
}

/* Gameboard Element */

.gameboard {
  margin: 1vw 0;
  box-shadow: 0 0 2px 1px #575757;
  border-radius: 2px;
  padding: 1vw;
  grid-area: gameboard;
  gap: .5vw;
  grid-template-columns: repeat(6, 7vw);
  grid-template-rows: repeat(5, 7vw);
  grid-template-areas:
    "a11 a12 a13 a14 a15 a16"
    "a21 a22 a23 a24 a25 a26"
    "a31 a32 a33 a34 a35 a36"
    "a41 a42 a43 a44 a45 a46"
    "a51 a52 a53 a54 a55 a56"
  ;
  background: #fffc4a;
  justify-items: center;
  align-items: center;
}

.gameboard .playerOne.piece { background: #617ed4; }
.gameboard .playerTwo.piece { background: #c54c4c; }

.gameboard .playerOne.piece.toBeRemoved:hover {
  background: #1d3a92;
}
.gameboard .playerTwo.piece.toBeRemoved:hover {
  background: #791414;
}

.gameboard .piece.toBeRemoved:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 1px #333;
}

.gameboard > .threeInRow {
  border: 2px dashed #333;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
  z-index: 1;
}

.playerOne.threeInRow { background: lightblue; }
.playerTwo.threeInRow { background: lightsalmon; }

.threeInRow.selectableIndication {
  --opacity-value: .9;
  box-shadow: 0 0 4px 1px #333;
  background: whitesmoke;
  z-index: 3;
  cursor: pointer;
  transition: opacity;
  opacity: var(--opacity-value);
}

.threeInRow.selectableIndication:hover {
  box-shadow: 0 0 4px 1px #333;
  border-color: #333;
  background: whitesmoke;
  z-index: 4;
}

.threeInRow.unselectedIndication {
  border-color: #777;
  box-shadow: none;
  background: #ddd;
  z-index: 2;
}


/* Hints Container Element */

.hintsContainer {
  margin: 3vw 0;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px #575757;
  padding: 1vw;
  width: 100%;
  background: #eee;
  font-size: calc(1rem / 2 + .5vw);
  text-align: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "playerOneTurn           gamePhase              playerTwoTurn        "
    "playerTurnDescription   playerTurnDescription  playerTurnDescription"
    "additionalDetails       additionalDetails      additionalDetails    "
  ;
  grid-area: hintsContainer
}

.playerInHints, .turnInHints,
.gamePhase, .additionalDetails {
  margin: .5vw;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px #bbb;
  padding: .75vw 1vw;
  background: #ddd;
  color: #999;
  cursor: default;
}

.gamePhase {
  background: #f9f9f9;
  box-shadow: 0 0 2px 1px #777;
  color: #333;
}

.playerInHints.active {
  font-weight: 700;
}

.playerInHints.playerOne { grid-area: playerOneTurn; }
.playerInHints.playerTwo { grid-area: playerTwoTurn; }

.turnInHints.playerOne { grid-area: playerTurnDescription; }
.turnInHints.playerTwo { grid-area: playerTurnDescription; }

.playerInHints.playerOne,
.turnInHints.playerOne,
.additionalDetails.playerOne { justify-self: left; }
.playerInHints.playerTwo,
.turnInHints.playerTwo,
.additionalDetails.playerTwo { justify-self: right; }

.playerInHints.playerOne.active { background: #617ed4; }
.playerInHints.playerTwo.active { background: #c54c4c; }

.playerInHints.active {
  box-shadow: 0 0 2px 1px #202020;
  color: #f7f7f7;
  text-shadow: 0 0 1px #555;
}

.turnInHints.active,
.additionalDetails.playerOne,
.additionalDetails.playerTwo {
  box-shadow: 0 0 2px 1px #777;
  color: #333;
}


.gamePhase {
  grid-area: gamePhase;
}
.additionalDetails {
  grid-area: additionalDetails;
  grid-template-columns: 1fr;
}

.additionalDetails > .detail:first-child {
  margin-top: 0;
  margin-bottom: .25vw;
}
.additionalDetails > .detail {
  margin: .25vw 0;
}
.additionalDetails > .detail:last-child {
  margin-top: .25vw;
  margin-bottom: 0;
}
.additionalDetails.playerOne { justify-items: left; }
.additionalDetails.playerTwo { justify-items: right; }

.additionalDetails.playerOne,
.turnInHints.playerOne.active {
  background: #afc1f1;
}
.additionalDetails.playerTwo,
.turnInHints.playerTwo.active {
  background: #eeb1b1;
}

.hintsContainer strong {
  padding: 0 .25vw;
  font-weight: 700;
}





/* Game Piece Elements */

.piecesContainer.playerOne > .piece { background: #617ed4; }
.piecesContainer.playerTwo > .piece { background: #c54c4c; }

.piecesContainer .piece {
  text-align: center;
  color: white;
}

.piecesContainer.active > .piece,
.piece.active,
.piece.inactive,
.piece.playerTurn { cursor: pointer; }

.piece.active { box-shadow: 0 0 4px 1px #333 !important; }
.piece.inactive { opacity: .55 !important; }

.piece.afterWin {
  cursor: default;
}


.piece, .temporaryPosition {
  border: 1px solid #222;
  border-radius: 2px;
  width: 6vw;
  height: 6vw;
  z-index: 2;
}

.gameboard .temporaryPosition {
  border: 1px dashed #333;
  z-index: 1;
}

.gameboard .temporaryPosition:hover {
  cursor: pointer;
  background: #9eeb9e;
}


/* Game Menu Element */

.menu {
  border-radius: 2px;
  border: 1px solid #555;
  box-shadow: 0 0 2px 1px #555;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, .5);
  grid-area: menu;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "playerOneTitle   winScenarioTitle   playerTwoTitle"
    "..............   gameMenuList       .............."
  ;
  justify-items: center;
  align-items: center;
  z-index: 4;
}

/* Menu Button Element */

.openMenuButton, .closeMenuButton {
  margin: 1vw 0;
  grid-area: menuButton;
  cursor: pointer;
  font-size: 2rem;
}

/* Player Titles, Menu List */

.playerOneTitle, .playerTwoTitle,
.gameMenuList, .winScenarioTitle, .settingsMenu {
  box-shadow: 0 0 3px 1px #444;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 1vw;
  color: #f5f5f5;
  background: #333;
  text-align: center;
  cursor: default;
}

.playerOneTitle, .playerTwoTitle {
  margin-top: 1vw;
}

/* Player Title */

.playerOneTitle { grid-area: playerOneTitle; }
.playerTwoTitle { grid-area: playerTwoTitle; }

/* Menu List */

.gameMenuList {
  grid-area: gameMenuList;
  align-self: start;
}

.gameMenuList > li > a {
  color: #7a7a7a;
  padding: 1.5vw 10vw;
  display: inline-block;
}

a:link, a:visited {
  text-decoration: none;
}

.gameMenuList > li,
.gameMenuList > li > a {
  margin: 0;
  border-radius: 2px;
  transition: all .1s;
  list-style: none;
}

.gameMenuList > li:not(:last-child) {
  padding: 1.5vw 10vw;
}

.menu .gameMenuList > li:hover,
.menu .gameMenuList > li > a:hover {
  color: #333;
  box-shadow: 0 0 1px 1px #ccc;
  background-color: #f5f5f5;
  cursor: pointer;
}

/* Win Scenario Title */

.winScenarioTitle {
  padding: 1vw 2vw;
  grid-area: winScenarioTitle;
}
.winScenarioTitle > .winningPlayer {
  margin: 0 .5vw;
  color: #fc3;
}


/* Misc */

.trophy {
  text-shadow: 0 0 1px #555;
  color: #fc3;
}
.playerOne .trophy { margin-right: .5vw; }
.playerTwo .trophy { margin-left: .5vw; }

.menu .trophy {
  margin-top: 1vw;
  font-size: 4rem;
}


/* Settings Menu */

.menu .settingsMenu {
  padding-top: 0.5vw;
  width: 30vw;
  font-size: calc(1rem / 1.8 + .5vw);
  grid-area: gameMenuList;
  align-self: start;
}

.settingsMenu > .settingItem {
  border-top: 1px solid #444;
  padding: 1vw;
}

.settingItem input {
  width: 80%;
}

.settingsControlsTop {
  padding-bottom: .5vw;
  text-align: right;
}

.closeSettings {
  transition: color .2s;
}

.closeSettings:hover {
  color: #c54c4c;
  cursor: pointer;
}

.settingsControlsBottom {
  padding-top: 1.2vw;
  padding-bottom: .2vw;
  border-top: 1px solid #444;
  display: grid;
  grid-template-areas: "settingsText settingsConfirm";
  grid-template-columns: 1fr min-content;
}

.confirmSettings {
  margin-left: 1.5vw;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px #333;
  background-color: #444;
  padding: .3vw 1.1vw;
  font-size: calc(1rem / 1.5 + .5vw);
  grid-area: settingsConfirm;
  align-self: center;
  justify-self: right;
  transition: box-shadow .1s, background-color .1s;
}
.confirmSettings:hover {
  box-shadow: 0 0 2px 1px #2f6d2f;
  background-color: #5bb15b;
  text-shadow: 0 0 2px #4ce44c;
  cursor: pointer;
}

.confirmText {
  color: #999;
  font-size: calc(1rem / 3 + .5vw);
  grid-area: settingsText;
  align-self: center;
  justify-self: right;
}

.settingsMenu .closeSettings,
.settingsMenu .confirmSettings {
  font-size: 1.5rem;
  display: inline-block;
}

.settingText {
  color: #999;
}

.settingValue, .detailsForValue {
  margin-left: .5vw;
  color: #f5f5f5;
  font-weight: 700;
}



/* Remove Element Class */

.removed { display: none !important; }
.notAllowed { cursor: not-allowed !important; }
.selectable { cursor: pointer !important; }
.hidden { visibility: hidden !important; }